.myBg {
    height: 100vh;
    background: url("../assets/img/bg/main.jpg");
    background-size: cover;
    background-position: center;
}

.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 4px 4px black;
    letter-spacing: 4px;
}

.trending {
    height: auto;
    background: url("../assets/img/bg/bg2.webp");
    background-size: cover;
}

.movieImage {
    height: auto;
    margin: 5px;
    padding: 5px;
}

.movieWrapper {

}

.images {
    height: 400px;
}

.superhero {
    height: auto;
    background: url("../assets/img/bg/bg3.webp");
    background-size: cover;
}